
.chat-screen{
    background-color: #B2C7D9;
    width: 100%;
    height: 100vh;
}

.chat-screen-header__fixed{
    position: fixed;
    width: 100%;
    background-color: #B2C7D9;
    margin-bottom: 0;
    z-index: 99;
}

.chat-screen__bar{
    background-color: #B2C7D9;
    z-index: 2;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: 0;
    }
    50%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}

.chat-screen>.main-chat{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s linear;
}

.chat__timestamp{
    color: #ffffff;
    background-color: #92a4b2;
    padding: 8px 12px;
    border-radius: 16px;
    font-size: 0.8em;
    margin-bottom: 25px;
}

.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img{
    width: 46px;
    height: 46px;
    border-radius: 16px;
    margin-right: 15px;
}

.message__author{
    display: block;
    margin-bottom: 4px;
}

.message__info{
    display: flex;
    align-items: flex-end;
}

.message_bubble{
    position: relative;
    background: #ffffff;
    padding: 8px 12px;
    border-radius: 0.4em;
    margin-right: 5px;
}

.message_bubble:after{
    content: '';
    position: absolute;
    left: 12px;
    top: 71%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
}

.message_time,
.message__author{
    opacity: 0.8;
    font-size: 0.74em;
}

.message-row--own{
    width: 100%;
    justify-content: flex-end;
}

.message-row--own .message_bubble{
    background-color: var(--yellow);
}

.message_bubble_r{
    margin-left: 5px;
}

.message_bubble_r::after{
    display: none;
}

.message_bubble_r::before{
	content: '';
	position: absolute;
	right: 12px;
	top: 71%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: var(--yellow);
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.message-row--own .message__info{
    flex-direction: row-reverse;
}

.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child{
    width: 10%;
}

.reply .reply__column:last-child{
    width: 85%;
    position: relative;
    display: flex;
    align-items: center;
}

.reply input{
    width: 100%;
    padding: 8px;
    border: var(--main-border);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.reply__column:last-child i,
.reply input{
    position:absolute;
    right: 0;
    font-size: 16.1px;
}

.reply__column_ir{
    margin-right: 40px;
}

.reply__column_btn{
    overflow: hidden;
    width: 35px;
    height: 35px;
    border-radius: 18px;
    position: absolute;
    right: 1px;
    border: none;
}

.reply__column_btn i{
    font-size: 16px;
    background-color: var(--yellow);
    margin: -20px 0px;
    width: 35px;
    padding-top: 12px;
    height: 35px;
    color: #2E363E;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button{
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button{
    opacity: 0;
}

.reply input:focus{
    width:85vw;
    transform: translateX(0%) translateY(-80px);
}

.reply:focus-within{
    transform: translateY(80px);
}

@keyframes messageImg{
    0%{
        transform: none;
    }

    50%{
        transform: translateX(5px);
    }

    100%{
        transform: none;
    }
}

.message-row img{
    animation: messageImg 1s ease-in-out;
}
