.recommended-friends{
    padding: 12px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height:100%;
}

.recommended-friends__title{
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span{
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    text-align: center;
    margin: 100px 0px 100px 0;
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    padding: 12px 0 12px 0px;
    font-size: 0.8em;
}

.open-chat__header>span{
    opacity: 0.6;
}

.open-post{
    margin-top: 16px;
    border-bottom: var(--main-border);
    padding-bottom: 12px;
}

.open-post__column{
    display: flex;
    justify-content: space-between;
}

.open-post__column_nth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.open-post__title{
    font-size: 1em;
}

.open-post__hashtags,
.open-post__member-count{
    color: var(--text-gray);
    font-size: 0.82em;
    margin-right: 5px;
}

.open-post__member-status{
    color: #d871b6;
    font-size: 0.8em;
}

.open-post__members{
    position: relative;
}

.open-post__members>img{
    width: 77px;
    height: 77px;
    border-radius: 8px
}

.diviber{
    display: flex;
    align-items: center;
}

.diviber>img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}

.open-post__heart{
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 2px 6px 2px 6px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 2px;
    font-size: 0.68em;
}

.open-post__heart span{
    margin-left: 5px;
}

@keyframes fondicons{
    0%{
        color: #ffffff;
        transform: none;
    }
    50%{
        color: tomato;
        transform: scale(1.1);
    }
    100%{
        color: #ffffff;
        transform: none;
    }
}

.open-post__heart:hover i{
    will-change: transform;
    animation: fondicons 1s linear infinite;
}