.Welcome-header{
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.Welcome-header__title{
    margin-bottom: 20px;
    font-size: 25px;
}

.Welcome-header__text{
    width: 60%;
    opacity: 0.7;
}

#login_form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login_form input{
    border: none;
    padding: 10px 0px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
}

#login_form input::placeholder{
    color: rgba(0, 0, 0, 0.4);
}

#login_form input:focus{
    border-color: var(--yellow);
}

#login_form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}

#login_form a{
    text-decoration: none;
    text-align: center;
    color: inherit;
    font-size: 13px;
}