.settings__setting{
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting:last-child{
    margin-bottom: 77px;
}

.settings__setting i{
    margin-right: 15px;
    font-size: 1.2em;
    opacity: 0.9;
}

.settings__setting-column:last-child{
    opacity: 0.5;
}