.alt-header{
    padding: var(--horizontal-space);
    padding-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.alt-header__title{
    font-size: 30px;
    font-weight: 600;
}

.alt-header__column:first-child{
    margin-right: auto;
}

.alt-header__column:last-child{
    margin-left: auto;
}

/* chat.html */
.alt-header__column__marl{
    margin-left: 20px;
    margin-bottom: -1px;
}

.alt-header__column__la{
    display: flex;
    align-items: center;
}

.alt-header__title_marb{
    margin-bottom: 6px;
}