.screen-header{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.screen-header__title{
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 18px;
}
