.screen-header{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
}

.screen-header__title{
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 18px;
}

.chats__screen-header{
    padding: 18px 10px 18px 10px;
}