.status-bar{
    display: flex;
    height: 16px;
    justify-content: center;
    padding: 10px 3px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
}

.status-bar__column{
    width: 33%;
}

.status-bar__column:first-child span{
    margin-right: 2px;
    font-size: 15px;
}

.status-bar__column>span{
    font-weight: 900;
}

.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column .fa-battery-full{
    margin: 0px 5px;
}