.user-component,
.user-component__column:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.user-component__column{
    position: relative;
}

.user-component__avatar{
    width: 60px;
    height: 60px;
    border-radius: 24px;
    margin-right: 18px;
}

.user-component__title{
    font-weight: 600;
}

.user-component__subtitle{
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.96em;
    display: inline-block;
}

.user-component__avatar--xl{
    width: 70px;
    height: 70px;
    border-radius: 26px;
}

.user-component__avatar--sm{
    width: 56px;
    height: 56px;
    border-radius: 20px;
    margin-right: 18px;
}

.user-component__column-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__column-text{
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__column-number{
    margin-top: 14px;
}

.user-component__svg{
    width: 90px;
    height: 38px;
}

.user-component__text-i{
    width: 15px;
    height: 13px;
    border: 1px solid #D34D43;
    border-radius: 10px;
    color: #D34D43;
    padding-top: 2px;
    font-size: 0.8em;
    text-align: center;
}

/* Chates.html */
.user-component__mar{
    margin-bottom: 14px;
}

/* friends.html */
.user-component__marb{
    margin-bottom: 6px;
}

.friends__online{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 0.8em;
}